<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>CV - Caio Silva</title>
</head>
<body>

    <div class="container">
        <h1>Curriculum Vitae - Caio Freitas</h1>
        <section>
            <h2>Contact Information</h2>
            <p><strong>Position:</strong> Systems Analyst and Developer | SQL | BI | Python</p>
            <p><strong>Location:</strong> Três Lagoas, Mato Grosso do Sul, Brazil</p>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                I am a student in Technology in Analysis and Systems Development (TADS) at the Federal Institute of Education, Science, and Technology of Mato Grosso do Sul - Três Lagoas Campus (IFMSTL). I have been working in the area of Systems Analysis and Computer Support, focusing on data manipulation and extraction from databases, as well as controlling and analyzing the performance of resources in the Warehouse Management System (WMS).
            </p>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Data Manipulation and Extraction: Working with database data to ensure the integrity and accuracy of information.</li>
                <li>Performance Control and Analysis: Monitoring and analyzing the performance of WMS system resources to ensure efficiency.</li>
                <li>Business Intelligence (BI): Development of detailed reports and analyses within BI, supporting strategic decision-making.</li>
                <li>Error Identification and Improvement Proposal: Collaborating with the team to identify and resolve issues while proposing improvements and new functionalities.</li>
                <li>Python and JavaScript: Experience in back-end development using JavaScript and Node.js, and Python for data manipulation and automation.</li>
            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <h3>Adar Tecidos</h3>
            <p><strong>Systems Analyst</strong> (April 2024 - Present)</p>
            <ul>
                <li>Responsible for the Warehouse Management System (WMS).</li>
                <li>Collecting and analyzing requirements.</li>
                <li>Developing reports and analyses in BI.</li>
                <li>Managing Oracle,SQLServer and PostgreSQL databases.</li>
                <li>Developing tools and applications.</li>
                <li>Executing test plans.</li>
                <li>Data manipulation, extraction, and analysis.</li>
                <li>Technical documentation creation.</li>
                <li>Providing support for production systems.</li>
                <li>Collaboration with cross-functional teams.</li>
            </ul>
            <h3>Adar Tecidos</h3>
            <p><strong>Systems Assistant</strong> (November 2022 - June 2024)</p>
            <ul>
                <li>Responsible for data manipulation and analysis in the WMS system.</li>
                <li>Monitoring and analyzing the performance of system resources.</li>
                <li>Collaborating to identify and resolve issues.</li>
                <li>Proposing improvements and new functionalities.</li>
            </ul>
    
            <h3>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</h3>
            <p><strong>Software Developer</strong> (May 2022 - November 2022)</p>
            <ul>
                <li>Developed a mobile application using Computer Vision and Image Processing.</li>
                <li>Utilized Python for back-end development.</li>
                <li>Automated the process of exam correction using the mobile camera.</li>
            </ul>
            <h3>CNPq</h3>
            <p><strong>Scholar - ITI-A Embrapa Pantanal</strong> (January 2021 - June 2022)</p>
            <ul>
                <li>Research and development of indices for separating fractions in satellite images.</li>
                <li>Developed Linear and Non-Linear Mixing indices for improved separation accuracy.</li>
            </ul>
        </section>
        <section>
            <h2>Education</h2>
            <p>
                <strong>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</strong><br>
                Technologist in Analysis and Systems Development, Software Development (January 2020 - December 2024)
            </p>
        </section>
    </div>
    
</body>
</html>