<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel= "icon" href="../../static/img/app/sparkles.png">
    <title>CV - Franciele Almeida</title>
</head>
<body>

    <div class="container">
        <h1>Curriculum Vitae - Franciele Almeida</h1>
        <section>
            <h2>Contact Information</h2>
            <p><strong>Position:</strong> Systems Analysis and Development student</p>
            <p><strong>Location:</strong> Três Lagoas, Mato Grosso do Sul, Brazil</p>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                I am a student of Technology in Systems Analysis and Development at the Federal Institute of Mato Grosso do Sul - Três Lagoas Campus (IFMS-TL). I have strong skills in web development, along with knowledge of programming tools.
            </p>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Knowledge in: HTML, CSS, SASS</li>
                <li>Proficient in Programming Languages: Python, JavaScript</li>
                <li>Database: PostgreSQL, MongoDB</li>
                <li>Currently Learning: TypeScript, Vite, React, Node.js</li>
                <li>Framework: Flask</li>
            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <h3>Três Lagoas City Hall</h3>
            <p><strong> Pharmacy Attendant</strong> (May 2022 – Present)</p>

            <h3>Cassems Hospital</h3>
            <p><strong>Pharmacy Assistant</strong> (July 2016 – June 2022)</p>
            
        </section>
        <section>
            <h2>Education</h2>
            <p>
                <strong>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</strong><br>
                Technologist in Analysis and Systems Development, Software Development (July 2022 – July 2025)
            </p>

            <p>
                <strong>Serviço Nacional de Aprendizagem Comercial (SENAC)</strong><br>
                Pharmacy Technician (April 2014 – September 2015)
            </p>
        </section>
    </div>
    
</body>
</html>