<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Isabelle Rancan</title>
</head>
<body>

    <div class="container">
        <h1>Curriculum Vitae - Isabelle Firmino Rancan </h1>
        <section>
            <h2>Contact Information</h2>
            <p><strong>Position:</strong> Systems Analysis and Development student</p>
            <p><strong>Location:</strong> Três Lagoas, Mato Grosso do Sul, Brazil</p>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                Systems Analysis and Development student with experience in digital marketing. Skilled in analysis, programming, web development, and IT tools. Actively looking for an internship to apply my knowledge and gain hands-on experience in the field.            </p>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Programming and Structuring Languages: JavaScript, Python, Java, PostgreSQL, HTML, and CSS</li>
                <li>Web Development: Experience with WordPress</li>
                <li>IT Tools: Proficient in Microsoft Office Suite and Adobe applications</li>
                <li>Digital Marketing Skills: Social media management, videomaking, and experience with the BotConversa chatbot platform</li>
                <li>English: Intermediate level</li>
            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <h3>Grupo RCN</h3>
            <p><strong>Marketing Assistant</strong> (February 2022 – Present)</p>
            <ul>
                <li>Managed the @jpnewsms news page, achieving a 300% growth in followers through content and engagement strategies.</li>
                <li>Worked with Chatbot development using the BotConversa platform.</li>
                <li>Produced and edited videos for news reports, social media content, and post-event coverage.</li>
            </ul>
            
        </section>
        <section>
            <h2>Education</h2>
            <p>
                <strong>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</strong><br>
                Technologist in Analysis and Systems Development, Software Development (July 2022 – August 2025)
            </p>

            <p>
                <strong>Escola Técnica Estadual Parque Belém (EPB)</strong><br>
                Technical Course in Internet Informatics (February 2019 – December 2021)
            </p>
        </section>
    </div>
    
</body>
</html>