<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel= "icon" href="../../static/img/app/sparkles.png">
    <title>CV - Nathan Brito</title>
</head>
<body>

    <div class="container">
        <h1>Curriculum Vitae - Nathan Brito </h1>
        <section>
            <h2>Contact Information</h2>
            <p><strong>Position:</strong> Frontend Developer </p>
            <p><strong>Location:</strong> Três Lagoas, Mato Grosso do Sul, Brazil</p>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                I am a student of Technology in Systems Analysis and Development (TADS) at the Federal Institute of Education, Science, and Technology of Mato Grosso do Sul - Três Lagoas Campus (IFMS-TL). I possess skills in frontend development, a quick learning ability for programming languages and tools, and a constant desire to evolve.</p>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Web Development Environment: HTML, CSS, JS, React, Flask</li>
                <li>Programming Languages: JS, TS, Python, C#, Godot</li>
                <li>Databases: PostgreSQL, MongoDB</li>
                <li>Quick learner of new technologies</li>
            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <h3>Inove Negócios Imobiliários</h3>
            <p><strong>Bank Correspondent</strong> (February 2024 - Present)</p>

            <h3>SESI Três Lagoas</h3>
            <p><strong>IT Intern</strong> (September 2022 - January 2024) </p>
            
        </section>
        <section>
            <h2>Education</h2>
            <p>
                <strong>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</strong><br>
                Technologist in Analysis and Systems Development, Software Development (July 2022 – August 2025)
            </p>

            <p>
                <strong>Federal Institute of Minas Gerais – IFMG</strong><br>
                Bachelor's in Control and Automation Engineering (February 2019 – July 2021 ~ Interrupted)
            </p>

            <p>
                <strong>Fundação de Ensino de Contagem – FUNEC</strong><br>
                High School ( February 2016 - December 2018))
            </p>
        </section>
    </div>
    
</body>
</html>