<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - Vinicius Medina</title>
</head>
<body>

    <div class="container">
        <h1>Curriculum Vitae - Vinicius Medina</h1>
        <section>
            <h2>Contact Information</h2>
            <p><strong>Position:</strong> Systems Analyst and Developer | Administrative Technician</p>
            <p><strong>Location:</strong> Três Lagoas, Mato Grosso do Sul, Brazil</p>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                I have no work experience yet, but I am looking for an opportunity in a work environment open to innovations, and I am also willing to learn new concepts that contribute to my development.</p>
        </section>
        <section>
            <h2>Skills</h2>
            <ul>
                <li>Programming and Structuring Languages: JavaScript, Python, HTML, CSS and SASS</li>
                <li>Database: PostgreSQL, MongoDB</li>
                <li>Currently Learning: TypeScript, Vite, React, Node.js</li>
                <li>Framework: Flask</li>
                <li>English: Intermediate level</li>
            </ul>
        </section>
        <section>
            <h2>Experience</h2>
            <h3>Store Attendant</h3>
            <h3>Administrative Assistance</h3>
            <h3>IT Support</h3>
            
        </section>
        <section>
            <h2>Education</h2>
            <p>
                <strong>SESI School</strong><br>
                High School (Completed December 2021)
            </p>

            <p>
                <strong>FATEC SENAI</strong><br>
                Administration (February 2019 – August 2021)
            </p>

            <p>
                <strong>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul (IFMS - Três Lagoas)</strong><br>
                Technologist in Analysis and Systems Development, Software Development (July 2022 – August 2025)
            </p>


        </section>
    </div>
    
</body>
</html>