$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #29272A;
$second-color: #2C2A32;
$third-color: #159656;
$font-color: #FAFAFA;

* {
    font-family: $font-stack;
    background-color: $second-color;
    color: $font-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    nav {
        display: grid;
        grid-template-columns: 550px auto;
        align-items: center;

        .left-side-nav {
            background-color: $third-color;
            height: 60px;
            padding: 10px 20px;
            display: flex;
            align-items: center;

            a {
                background-color: $third-color;
                font-size: 23px;
            }
        }

        .right-side-nav {
            height: 60px;
            background-color: $primary-color;
            padding: 17px 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 30px;

            a {
                background-color: $primary-color;
                font-size: 16px;
            }
        }
    }
}

body {
    #home {
        height: 640px;
        display: grid;
        grid-template-columns: 550px auto;
        align-items: center;

        .left {
            background-color: $third-color;
            display: flex;
            height: 100%;
            padding: 20px;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1 {
                background-color: $third-color;
                font-size: 50px;
            }
        }

        .right {
            background-color: $primary-color;
            display: flex;
            height: 100%;
            padding: 20px;
            justify-content: center;
            align-items: center;
            text-align: center;

            p {
                background-color: $primary-color;
                font-size: 20px;
                width: 550px;
            }
        }
    }
    #flask {
        height: 700px;
        padding: 20px;
        display: flex;  
        flex-direction: column;  
        justify-content: center;  
        align-items: center; 
        text-align: center;

        h1{
            font-size: 40px;
            margin-bottom: 30px;
        }
        p{
            font-size: 20px;
            margin: 5px;
        }
    }

    #ClassCalendar {
        display: grid;
        grid-template-columns: 15% 20% 65%;
        align-items: start;
        padding-left: 20px;
        padding-right: 20px;

        h1{
            font-size: 40px;

        }

        h4 {
          grid-column: 1; // Garantindo que apenas h4 fique na primeira coluna
        }
      
        .decorative-line {
            grid-column: 2;
            width: 80%;
            height: 2px;
            margin-top: 12px;
            background-color: $font-color; // Cor do traço (altere conforme necessário)
          }
      
        > *:not(h4):not(.decorative-line) {
          grid-column: 3; // Todo o resto vai para a terceira coluna
        }

        ol, ul {
            padding-left: 3rem; // Evita que números/pontos avancem sobre a segunda coluna
          }
      }
}
